
<mat-toolbar  class="header" >
    <mat-list role="list">
        <mat-list-item role="listitem"> <a mat-button href="/" > <img src="http://localhost:8080/logo.png" width="80" height="80" > </a> </mat-list-item>

        <mat-list-item role="listitem">
             
            <button mat-button [matMenuTriggerFor]="testMenu" (mouseover)= "menuTrigger.openMenu()" #menuTrigger="matMenuTrigger" class="toolbar" >Produtos</button>
              <mat-menu #testMenu="matMenu">
                <span (mouseleave)= "menuTrigger.closeMenu()">
                    <button mat-menu-item><a class="menu" href="/produtos/fogoes" > Fogões</a></button>
                    <button mat-menu-item><a class="menu" href="/produtos/fornos" > Fornos</a></button>
                    <button mat-menu-item><a class="menu" href="/produtos/chapas" > Chapas</a></button>
                </span>
              </mat-menu>   
        </mat-list-item>
        <mat-list-item role="listitem"> <a class="toolbar" mat-button href="/contato" >Contato</a> </mat-list-item>

        <mat-list-item role="listitem"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
          </svg> ({{QuantidadeCarrinho}})</mat-list-item>
        
    </mat-list>
</mat-toolbar>





