.conteudo-produto{
    display: flex;
    padding-right: 20%;
    padding-left: 20%;
}
.valor-compra{
    display: flex;
}
button{
    background-image: linear-gradient(to bottom right,#17171c, #6a6a70);
}
a{
    text-decoration: none;
    color: #17171c;
}
input{
    border-width:0px;
    border:none;
}
:focus {
    outline: none;
}
section{
    border:solid 1px;
    border-color: #83838f;
    border-radius:10px;
    box-shadow: 1px 1px 1px #131314;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.Linkcomentarios{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}