.conteudo{
    display: flex;
    padding-left: 15%;
    padding-top: 2%;
    padding-bottom: 5%;
    font-family: 'Courier New', Courier, monospace;
    color: #161616;
    font-size: 20px;  
}
.conteudo-direita{
    padding-left: 5%;
}

.conteudo-direita{
    display: flex;
    align-items: center;
    justify-content: center;    
}
button{
    background-image: linear-gradient(to bottom right,#17171c, #6a6a70);
    padding-right: 340px;
}
section{
    border:solid 1px;
    border-color: #83838f;
    border-radius:10px;
    box-shadow: 1px 1px 1px #131314;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
::placeholder { 
    color: #83838f;
}
input{
    border-width:0px;
    border:none;
}
:focus {
    outline: none;
}

.nome-email{
    display: flex;
}

#Mensagem{
    padding-bottom: 30%;
}


